<div class="container text-center pt-3">
  <div class="row">
    <div class="col-lg-3 col-sm-6 col-12">
      {{ indices?.dolar?.nombre }}: {{ indices?.dolar?.valor }} {{ indices?.dolar?.unidad_medida }}
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
      {{ indices?.euro?.nombre }}: {{ indices?.euro?.valor }} {{ indices?.euro?.unidad_medida }}
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
      {{ indices?.bitcoin?.nombre }}: {{ indices?.bitcoin?.valor }} {{ indices?.bitcoin?.unidad_medida }}
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
      {{ indices?.libra_cobre?.nombre }}: {{ indices?.libra_cobre?.valor }} {{ indices?.libra_cobre?.unidad_medida }}
    </div>
  </div>
</div>